/*
 * Import Panel
 */

#nav-panels [data-panel="import"] {
	width: 400px !important;
	color: #FFF;
	left: -400px !important;
	z-index: 10;
}

#nav-panels [data-panel="import"] #import-editor {
	width: 100%;
	min-height: 200px;
	max-height: 600px;
}

#nav-panels [data-panel="import"] .info {
	padding: 20px 0;
	color: rgba(255, 255, 255, 0.84);
	font-family: "Segoe UI";
}

#nav-panels [data-panel="import"] .import-info {
	height: 36px;
	margin: 20px 0 0 0;
	background: #E0F2F1;
	line-height: 32px;
	color: rgba(0, 0, 0, .75);
	display: none;
}

#nav-panels [data-panel="import"] .import-info[state] {
	display: block;
}

#nav-panels [data-panel="import"] .import-info > * {
	height: 100%;
	float: left;
}

#nav-panels [data-panel="import"] .import-info span {
	padding: 8px 0 0 0;
}

#nav-panels [data-panel="import"] .import-info .import-btn {
	margin: 0;
	display: none;
	float: right;
}

#nav-panels [data-panel="import"] .import-info .button:hover {
	background: #197F75 !important;
	box-shadow: none !important;
}

#nav-panels [data-panel="import"] .import-info[state='ok'] .import-btn {
	display: block;
}

#nav-panels [data-panel="import"] .import-info[state='error'] {
	padding: 0 20px;
	background: #E06C1E;
	color: #FFF;
}

#nav-panels [data-panel="import"] .import-info[state='error'] .import-btn {
	display: none;
}

#nav-panels [data-panel="import"] .import-info[state='error'] span {
	display: none;
}

#nav-panels [data-panel="import"] .import-info > span {
	margin: 0 10px;
}