<div id="bc-audio-tracks">
	<audio id="bc-audiocast-source" class="span12" preload></audio>
</div>

<div id="bc-menu">
	<div id="load-button" class="button">
		<span class="icon-music icon-white"></span>
	</div>
	<div id="sync-button" class="button">
		<span class="icon-refresh icon-white"></span>
	</div>
	<div id="stop-button" class="button">
		<span class="icon-pause icon-white"></span>
	</div>
	<div id="play-button" class="button">
		<span class="icon-play icon-white"></span>
	</div>
</div>

<div id="bc-load-panel" class="modal fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Load audio</h3>
	</div>
	<div class="modal-body">
		<div class="input-prepend span12">
			<span class="add-on span3">Audio URL</span>
			<input class="span9" id="bc-load-input-url" type="text" placeholder="audio/audio.ogg">
		</div>
		<hr/>
		<div class="span12">
			<audio id="bc-audiocast-preview" preload controls></audio>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" id="bc-load-audiocast" class="btn btn-primary ok btn-inverse disabled">Load</a>
	</div>
</div>

<div id="bc-sync-panel">
	<audio id="bc-sync-audio" preload controls></audio>
	<a href="#" id="bc-sync-reset" class="btn btn-primary">Reset</a>
	<a href="#" id="bc-sync-finish" class="btn btn-primary">Finish</a>
	<div class="instructions">
		<span>Press <b>Reset</b> to reset all slide transitions</span>
		<span>Start <b>playing</b> the audio file</span>
		<span>During playback press <b>R</b> key (keyboard) to set a new transition</span>
		<span>After setting a transition the next slide will be selected automaticaly</span>
		<span>All transitions are saved automaticaly for each slide</span>
		<span>You can fine tune the transitions afterwards using the range input from each slide</span>
	</div>
	<div id="bc-sync-transitions"></div>
</div>