<div class="slides">
	<section>
		<br />
		<h2>Browsercast</h2>
		<br /><br />
		<p>The project aims to offer a web based slideshow composition tool with support for voice-over synchronization</p>
		<div style="text-align: left; padding: 30px 100px">
		    <p>Features:</p>
		    <ul>
		        <li>slide editor</li>
		        <li>perfect voice-over synchronization</li>
		        <li>playback functions - play/stop/pause/resume</li>
		        <li>presentations are index-able by search engines</li>
		        <li>import and export</li>
		    </ul>
		</div>
	</section>

	<section>
		<br>
		<h2>The Editor</h2>
		<br>
		<br>
		<p>Use the <b>HTML code editor</b> provided to edit slide content</p>
		<p>You can <b>add</b> new vertical/horizontal slides or delete them</p>
		<p>Basic support for HTML5 <b>contenteditable</b>. <b>Click on the slide!</b></p>
		<p>Add an audiocast and synchronize it with the slides</p>
		<p>try <a href="https://dl.dropboxusercontent.com/u/14586656/Browsercast/audio.ogg">this</a> audio-file <span style="color: red">(use the link)</span></p>
		<br>
		<p data-fragment-index="0" class="fragment visible">You can use fragments too!</p>
	</section>

	<section>
		<br />
		<h3> Preview mode </h3>
		<br /><br />
		<p style="color: red"> This slide has no audio</p>
		<p>Navigate with <b>arrows</b></p>
		<p><b>ESC</b> to go to overview mode</p>
		<p>Press <b>S or R</b> to Pause/Resume the presentation</p>
		<p  style="color: red"> Next slides are synchronized with audio </p>
	</section>

	<section>
		<section data-bc-start="0.00">
			<img src="https://dl.dropboxusercontent.com/u/14586656/Browsercast/haiku.jpg" />
			<p>The Japanese wrote haikus...</p>
		</section>

		<section data-bc-start="2.44">
			<img src="demo/images/sonnet.jpg" />
			<p>Shakespeare wrote sonnets...</p>
		</section>
	</section>
	
	<section data-bc-start="4.90">
		<img src="demo/images/worst-powerpoint.jpg" />
		<br/>
		<p>And we... write PowerPoint</p>
	</section>

	<section data-bc-start="7.72">
		<img src="demo/images/tufte.jpg" />
		<p>A lot of people blame PowerPoint for bad presentations...</p>
	</section>

	<section data-bc-start="12.20">
		<img src="demo/images/fountain-pen.jpg" />
		<p>...but that's like blaming fountain pens for bad poetry.</p>
	</section>

	<section data-bc-start="16.20">
		<div style="vertical-align: middle">
			<img src="demo/images/powerpoint.png" />
			<img src="demo/images/libreoffice.png" />
		</div>
		<p>The <em>real</em> problem with tools like PowerPoint...</p>
		<div class="fragment" data-bc-start="19.61" data-bc-end="22">
			<img src="demo/images/internet-cat.jpg" />
			<p>...is that they aren't web-friendly.</p>
		</div>
	</section>
</div>