<div class="properties">
	<div>
		<label>Title</label>
		<input type="text" class="title" placeholder="Browsercast" />
	</div>
	<div>
		<label>Author</label>
		<input type="text" class="author" placeholder="Browsercast" />
	</div>
	<div>
		<label>Description</label>
		<textarea class="description"></textarea>
	</div>
</div>
<div class="info">
	<div class="text">
		Downloading resources: <span class="percentage"></span>
	</div>
	<progress class="progress" max="100" value="0"></progress>
</div>
<div class="download-btn button">Download</div>
