/*
 * Editor Mode
 */

#app[data-mode="editor"] #browsercast #bc-markers {
	width: 50%;
	margin: 0 25%;
	top: -20px;
}

/*
 * Preview Mode
 */

#app[data-mode="preview"] #nav {
	left: -50px;
}

#app[data-mode="preview"] #nav-panels {
	left: -50px;
}

#app[data-mode="preview"] #app-area {
	padding: 0;
}

#app[data-mode="preview"] #scene {
	height: 100% !important;
}

#app[data-mode="preview"] #leave-preview {
	top: 50px;
}

#app[data-mode="preview"] #enter-preview {
	top: -40px;
}

#app[data-mode="preview"] #delete-slide,
#app[data-sync-audio] #delete-slide {
	top: -50px;
}

#app[data-mode="preview"] #add-horizontal-slide,
#app[data-sync-audio] #add-horizontal-slide {
	right: -50px;
}


#app[data-mode="preview"] #add-vertical-slide,
#app[data-sync-audio] #add-vertical-slide {
	bottom: -50px;
}

/* Pannels */
#app[data-mode="preview"] #editor-panel {
	top: 100% !important;
}

#app[data-mode="preview"] #sync-panel {
	top: 100% !important;
}

/*
 * Sync Mode
 */

#app[data-sync-audio] #sync-panel {
	top: 80%;
}

#app[data-sync-audio] #scene {
	height: 80%;
}

#app[data-sync-audio] #scene #add-horizontal-slide {
	right: -50px;
}

#app[data-sync-audio] #scene #add-vertical-slide {
	right: -50px;
}

/*
 * Editor Mode
 */

#app[data-code-editor] #editor-panel {
	top: 60%;
}

#app[data-code-editor] #scene {
	height: 60%;
}