#download-panel {
	width: 300px !important;
	left: -300px !important;
}

#download-panel .properties {
	color: #FFF;
}

#download-panel .properties > div {
	padding: 10px 0;
}

#download-panel .properties label:hover {
	cursor: pointer;
}

#download-panel .properties textarea,
#download-panel .properties input {
	width: 100%;
	margin: 10px 0 0;
	padding: 6px 10px;
	font-family: Roboto; 
	color: #999;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
}

#download-panel .properties textarea:focus,
#download-panel .properties input:focus {
	color: #555;
}

#download-panel .properties textarea {
	resize: vertical;
}

#download-panel .info {
	color: #FFF;
	display: none;
	margin: 10px 0 10px;
}

#download-panel .info .text {
	height: 30px;
}

#download-panel .info[data-visible] {
	display: block;
}

#download-panel .info .progress {
	width: 100%;
}

#download-panel .download-btn {
	float: left;
	background: #E06C1E;
}

#download-panel .close {
	float: right;
	clear: none !important;
}

#download-panel .separator {
	display: none;
}