@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: 
  	local('Roboto'),
  	local('Roboto-Regular'),
	url('fonts/Roboto-Regular.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
  	local('Roboto Medium'),
  	local('Roboto-Medium'),
  	url('fonts/Roboto-Medium.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
  	local('Roboto Bold'),
  	local('Roboto-Bold'),
  	url('fonts/Roboto-Bold.woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src:
  	local('Roboto Italic'),
  	local('Roboto-Italic'),
  	url('fonts/Roboto-Italic.woff');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: italic;
  font-weight: 400;
  src:
  	local('Roboto Light'),
  	local('Roboto-Light'),
  	url('fonts/Roboto-Light.woff');
}
