@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: local('Hammersmith One'), local('HammersmithOne'), url(fonts/HammersmithOne.woff) format('woff');
}
@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-weight: 400;
  src: local('Gorditas'), local('Gorditas-Regular'), url(fonts/Gorditas-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(fonts/FredokaOne-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(fonts/Ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(fonts/Ubuntu-Bold.woff) format('woff');
}
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(fonts/PressStart2P-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(fonts/Lato-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(fonts/AbrilFatface-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Sans Mono'), local('Droid-Sans-Mono'), url(fonts/Droid-Sans-Mono.woff) format('woff');
}