#browsercast-editor {
	width: 60%;
	height: 30px;
	margin: 8px 0 0 370px;
	float: left;
	position: relative;
}

#browsercast-editor #bc-menu {
	width: 120px;
	position: absolute;
	left: -120px;
	top: -3px;
}

#browsercast-editor .button {
	width: 24px;
	height: 24px;
	background: #3FB58E;
	border-radius: 50%;
	border: 2px solid #CCC;
	float: left;
}

#browsercast-editor .button:hover {
	cursor: pointer;
	background: #1A7E5D;
}

#browsercast-editor .button span {
	width: 16px;
	height: 16px;
	margin: 3px 0 0 5px;
}

#browsercast-editor .timeline {
	border-color: #999;
}

#browsercast-editor .timeline .tooltip-left,
#browsercast-editor .timeline .tooltip-right {
	top: 17px;
}

#browsercast-editor #bc-audio-tracks {
	display: none;
}

#browsercast-editor #bc-load-panel .fade {
	top: -125%;
}

#browsercast-editor #bc-sync-panel {
	width: 50%;
	padding: 5px 10px 5px;
	position: absolute;
	background: #CCC;
	border-radius: 0 0 5px 5px;
	border-width: 1px;
	border-color: red;
	top: 24px;
	left: -90px;
	z-index: 2;
	display: none;
}

#browsercast-editor #bc-sync-panel .btn {
	background: #3FB58E;
}

#browsercast-editor #bc-sync-panel span {
	width: 100%;
	display: block;
}

#browsercast-editor #bc-sync-audio {
	width: 100%;
	margin: 10px 0 0;
}

#browsercast-editor #bc-sync-finish {
	float: right;
}
