/*
 * Slides Panel
 */

#nav-panels #slides-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: all 0.3s  ease-out;
	position: relative;
}

#nav-panels #slides-container .slide {
	width: 100%;
	height: 120px;
	border: 2px solid #B2DFDB;
	background: #FFF;
	position: absolute;
	top: 0;

	box-sizing: border-box;
}

#nav-panels #slides-container .slide:hover {
	cursor: pointer;
}